body {
   font-family: Arial, sans-serif;
   margin: 0;
   background-color: #1a1818;
   color: #ffffff; 
}

header {
    height: 100px;
    text-align: center;
    background-color: #000000;
}


.btn:hover {
    background-color: #cf6005;
}
