body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c71f1f;
}

header {
    background-color: #e13b11;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.btn:hover {
    background-color: #cf6005;
}
