/* Стили для навигационной панели */
@media (max-width: 700px) {
    nav a {
        display: block;
        margin:  0;
    }
}
nav-item.hover{
    color: #e7870a;


}
nav {
    background-color: #279a04;
    
}

nav a {
    color: #0f0cd9;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

