body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
}

/* .prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
} */

.prev:hover, .next:hover {
  background-color: #555;
}

.fade {
  animation: fade 1s ease-in;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}