.slideshow-container001 {
  max-width: 700px;
  position: relative;
  margin: auto;
  overflow: hidden; 
}

.mySlides001, .custom-slide001 {
  display: none;
  height: 330px;
}

img {
  width: 100%;
  border-radius: 40px ;
}

.prev:hover, .next:hover {
  background-color: #555 !important;
}

/* Замените fade на другое имя, например, myFade */
.myFade001 {
  animation: myFade 1s ease-in-out infinite;
}

@keyframes myFade {
  from { opacity: .4 }
  to { opacity: 1 }
}
