/* Стили для элемента с классом .five */
.five {
  /*  background: #4c0f07; */ /* Закомментированный фон */
   padding: 20px 90px 25px 60px; /* Внутренние отступы: сверху, справа, снизу, слева */
   text-align: center; /* Выравнивание текста по центру */
}

/* Стили для заголовка h1 внутри элемента .five */
.five h1 {
   font-family: 'Open Sans', sans-serif; /* Шрифт */
   font-weight: 400; /* Толщина шрифта */
   position: relative; /* Позиционирование относительно родителя */
   color: #ea2907; /* Цвет текста */
   font-size: 2.5em; /* Размер шрифта */
   font-weight: normal; /* Нормальная толщина шрифта */
   display: inline-block; /* Отображение как блочный элемент в потоке */
   margin: 0; /* Убираем отступы */
   line-height: 1; /* Высота строки */
   padding: 8px 20px 8px 0px; /* Внутренние отступы: сверху, справа, снизу, слева */
   border-top: 4px solid; /* Верхняя граница */
}

/* Стили для псевдоэлемента :before внутри заголовка h1 */
.five h1:before {
   content: " ♫ "; /* Текст контента псевдоэлемента */
   position: absolute; /* Абсолютное позиционирование */
   top: -10px; /* Отступ сверху */
   left: -80px; /* Отступ слева */
   font-size: 1.5em; /* Размер шрифта */
   transform: rotate(-15deg); /* Поворот текста */
   font-family: 'Marck Script', cursive; /* Шрифт */
}

/* Стили для псевдоэлемента :after внутри заголовка h1 */
.five h1:after {
   content: ""; /* Пустой контент псевдоэлемента */
   position: absolute; /* Абсолютное позиционирование */
   width: 120%; /* Ширина */
   height: 4px; /* Высота */
   right: 0; /* Отступ справа */
   bottom: -4px; /* Отступ снизу */
 background:  #ea2907;/* Цвет фона */
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 580px) {
   .five {padding-left: 130px;} /* Изменение внутренних отступов при ширине экрана <= 580px */
   .five h1 {font-size: 2em;} /* Изменение размера шрифта h1 при ширине экрана <= 580px */
   .five h1:before {left: -80px;} /* Изменение отступа слева для :before при ширине экрана <= 580px */
}

@media (max-width: 480px) {
   .five {padding-left: 100px;} /* Изменение внутренних отступов при ширине экрана <= 480px */
   .five h1 {
     font-size: 1.5em; /* Изменение размера шрифта h1 при ширине экрана <= 480px */
     padding-right: 5px; /* Добавление внутреннего отступа справа при ширине экрана <= 480px */
 }
   .five h1:before {left: -60px;} /* Изменение отступа слева для :before при ширине экрана <= 480px */
}

@media (max-width: 380px) {
   .five {padding-left: 50px;} /* Изменение внутренних отступов при ширине экрана <= 380px */
   .five h1 {font-size: 1.3em;} /* Изменение размера шрифта h1 при ширине экрана <= 380px */
   .five h1:before {left: -40px;} 
}